*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;

}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #211035;

}

.calender{
    position:relative;
    width: 200px;  
}
/*
.calender:before{
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    box-shadow: 206px 208px hwb(63 29% 3%);
    border-radius: 50%;

}
*/
.calender .calender-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    border-bottom: 6px solid #9242f4;
    border-right: 1px solid rgba(255,255,255,0.5);
    border-radius:8px;
    box-shadow: 0 5px 25px;   
}

.calender .calender-body .month{
    color: #fff;
    background: #9242f4;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    font-weight: 300;
    padding: 5px 0;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
}

.calender .calender-body .day{
    color:#fff;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 20px;
}

.calender .calender-body .date{
    color: #fff;
    font-size: 5em;
    font-weight: 600;
}

.calender .calender-body .year{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 20px;
}


.clock{
    position: relative;
    background: rgba(255,255,255,0.1);
    color: #fff;
    width: 400px;
    padding: 20px 45px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(69, 68, 70, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.5);
    margin-left: 30px;
}
.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours, .dots, .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 100px;
}
.hours, .minutes{
    font-size: 6.5em;
    width: 120px;
}
.dots{
    font-size: 4.5em;

}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}
.period, .seconds{
    font-size: 1.2em;
    font-weight: 500;
}
.period{
    transform: translateY(-20px);
}
.seconds{
    transform: translateY(16px)
}